annotated-types==0.7.0
anyio==4.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
distro==1.9.0
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
jiter==0.9.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.23
langchain-core==0.3.52
langchain-text-splitters==0.3.8
langsmith==0.3.31
openai==1.74.0
orjson==3.10.16
packaging==24.2
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.2.1
pinecone-client==6.0.0
pinecone-plugin-interface==0.0.7
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
PyPDF2==3.0.1
pypdfium2==4.30.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.40
tenacity==9.1.2
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
zstandard==0.23.0
flask==3.0.2
werkzeug==3.0.1
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.3
attrs==22.2.0
Authlib==1.2.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
bokeh==3.1.1
branca==0.6.0
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012319596/work
bs4==0.0.1
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046173594/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
comm==0.1.2
conda==4.12.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1647355403437/work
contourpy==1.0.7
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1647857630705/work
cycler==0.11.0
dataclasses-json==0.6.3
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
et-xmlfile==1.1.0
executing==1.2.0
extruct==0.16.0
faiss-cpu==1.7.4
fastapi==0.108.0
fastjsonschema==2.16.3
filelock==3.8.0
fiona==1.9.5
folium==0.12.1.post1
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.4.0
geojson==2.5.0
geopandas==0.10.2
googlesearch-python==1.2.3
h11==0.14.0
h3==3.7.6
html-text==0.5.2
html5lib==1.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
igraph==0.9.11
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isodate==0.6.1
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.17.3
jstyleson==0.0.2
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.4.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
langchain==0.0.353
langchain-community==0.0.7
langchain-core==0.1.4
langsmith==0.0.77
lxml==4.9.3
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mercurial==6.7.2
mf2py==1.1.3
mistune==2.0.5
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nbstripout==0.6.1
nest-asyncio==1.5.6
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.23.5
openai==0.28.1
openpyxl==3.1.2
packaging==23.2
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==2.5.2
plotly==5.17.0
pooch==1.7.0
powerlaw==1.5
prometheus-client==0.16.0
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1636020570107/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.14.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.9
PyPDF2==3.0.1
pyproj==3.6.1
pyRdfa3==3.5.3
pyrsistent==0.19.3
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862736740/work
python-dateutil==2.8.2
python-igraph==0.9.11
python-json-logger==2.0.7
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
rdflib==7.0.0
recipe-scrapers==14.51.0
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1636009262461/work
scikit-learn==1.2.2
scikit-mobility==1.3.1
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.0
shapely==2.0.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.25
stack-data==0.6.2
starlette==0.32.0.post1
statsmodels==0.13.5
tenacity==8.2.3
terminado==0.17.1
texttable==1.7.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1646031859244/work
traitlets==5.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
uri-template==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
uvicorn==0.25.0
validators==0.20.0
virtualenv==20.16.5
w3lib==2.1.2
wcwidth==0.2.6
weaviate-client==3.16.2
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
widgetsnbextension==4.0.5
xlrd==2.0.1
xyzservices==2023.7.0
yarl==1.9.2
zipp==3.15.0
